{% extends "base.html" %}
{% block content %}
<div>
    <h1>PyConES Talk List
    <a href="/talks/add" class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add talk
    </a>
    </h1>
    {% for talk in talks %}
    <div class="media">
        <div class="media-left">
            <a href="{% url 'talk_edit' talk.pk %}">
                <img class="media-object" src="http://2014.es.pycon.org/static/img/pythonespana.png" alt="..." style="width:100px">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ talk.name }}</h4>
            {{ talk.description }}
        </div>
    </div>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
