{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PyConES</title>
        <link rel="stylesheet" href="/static/js/bower_components/bootstrap/dist/css/bootstrap.css">
        <style>
            body {
              padding-top: 50px;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PyConES 2015</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.path == "/talks" %}class="active"{% endif %}><a href="/talks">Talks</a></li>
                    <li {% if request.path == "/authors" %}class="active"{% endif %}><a href="/authors">Authors</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    </div>
    <script data-main="/static/js/main" src="/static/js/bower_components/requirejs/require.js"></script>
    </body>
</html>
